## Text Formation/ Formatting / Concatination

## 1) Concatination

In [1]:
#concatination By using +

first_name= "Abdul"
last_name="Raziq"
instituition_name="NED"
card = "Instituition name:" + instituition_name + "\nStudent Full Name: " + first_name+ " " + last_name 
print(card)

Instituition name:NED
Student Full Name: Abdul Raziq

In [2]:
#typecasting

first_name= "Abdul"
last_name="Raziq"
instituition_name="NED"
age =30 
age=str(age)
card = "Instituition name:" + instituition_name + "\nStudent Full Name: " + first_name+ " " + last_name + "\nYour Age: " +age
print(card)

Instituition name:NED
Student Full Name: Abdul Raziq
Your Age: 30

In [3]:
# Concatination by Function_name.format(v1,v2,....)

first_name= "Abdul"
last_name="Raziq"
instituition_name="NED"
age =30 
card = '''Instituion name :{}
Student Full name : {} {}
Age: {} 
''' .format(instituition_name,first_name,last_name,age)
print(card)

Instituion name :NED
Student Full name : Abdul Raziq
Age: 30

In [4]:
# Concatination by f' Text:{var_name}'

first_name= "Abdul"
last_name="Raziq"
instituition_name="NED"
age =30 # card structure must have triple inverted commas
card = card = f'''Instituion name :{instituition_name}     
Student Full name : {first_name} {last_name}
Age: {age} 
'''
print(card)

Instituion name :NED
Student Full name : Abdul Raziq
Age: 30

In [8]:
dir(card)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
print(card.casefold()) # inline

instituion name :ned
student full name : abdul raziq
age: 30

In [14]:
print(card)

Instituion name :NED
Student Full name : Abdul Raziq
Age: 30

In [18]:
card.count("Raziq")

1

In [25]:
print(card)
card.casefold().count('raziq')

Instituion name :NED
Student Full name : Abdul Raziq
Age: 30

1

In [30]:
card.encode()

b'Instituion name :NED     \nStudent Full name : Abdul Raziq\nAge: 30 \n'

## Return and Non Return Functions

In [5]:
a = print ("Qasim") # Non Return Function
print(a)
print(a)

Qasim
None
None

In [6]:
a =len("Qasim") #Return Function
print(a)
print(a)

5
5

## Assignment

In [31]:
## apply card variable dir and apply 46 methods on the card

In [32]:
## Make dynamic Saylani Card