## Functions 
 * 1) Return Function 
 * 2) Non Return Function
 * 3) Default Function 
 * 4) required Argument Function 
 * 5) Optional Argument Function 
 * 6) Positional Arguments Function
 * 7) key/word Argument Function 
 * 8) lambda Function 
 * 9) Recursive Function 
 * 10)Generator Function

## 1) Default Function

In [1]:
# Default and Return Function 
def my_message():
    message = '''
my country name is Pakistan 
I love my coutry 
    '''
    return message 
print(my_message())

my country name is Pakistan
I love my coutry

In [2]:
# Default and Return Function 
def my_message2():
    message2='''
I love my country 
My country name is Pakistan
My coutry is love
    '''
    return message2

a=my_message2()
print(a)
print(a)

I love my country
My country name is Pakistan
My coutry is love


I love my country
My country name is Pakistan
My coutry is love

In [3]:
# Default and Non Return Function 
def country_message(): # function decleartion
    # function body starts 
    print("we love country ")  #statement 1
    print("Pakistan zindabad") #statemnet 2 
    print("pakistan is love")  #statement 3
    # function body end
a=country_message()
print(a)

we love country
Pakistan zindabad
pakistan is love
None

## 2) Required Argument Function

In [4]:
def important_message(argument1):
    message = '''
I love Pakistan 
I like Pakistan 
I hate Pakistan 
    '''
    return message 
a = important_message("USA")
print(a)

I love Pakistan
I like Pakistan
I hate Pakistan

In [5]:
def important_message(argument1):
    message = f'''
I love {argument1}
I like {argument1} 
I hate {argument1}
    '''
    return message 
a = important_message("USA")
print(a)

I love USA
I like USA
I hate USA

## Making Saylani Card with argument Function

In [6]:
def student_card(name,roll,course,batch):
    card = f'''
    Saylni Student Card 
    
Student Name : {name}
Roll No  :     {roll}
Course   :     {course}
Batch    :     {batch}
    '''
    return card
print(student_card("Abdul Raziq","234","AI",2019))

    Saylni Student Card

Student Name : Abdul Raziq
Roll No  :     234
Course   :     AI
Batch    :     2019

In [7]:
data = [
    {"Name":"Raziq","Roll":"234","Course":"AI","Batch":"AI"},
    {"Name":"aziq","Roll":"34","Course":"AI","Batch":"AI"},
    {"Name":"ziq","Roll":"4","Course":"AI","Batch":"AI"}
]
for row in data:
    print(row)
    print(student_card(row["Name"],row["Roll"],row["Course"],row["Batch"]))

{'Name': 'Raziq', 'Roll': '234', 'Course': 'AI', 'Batch': 'AI'}

    Saylni Student Card

Student Name : Raziq
Roll No  :     234
Course   :     AI
Batch    :     AI

{'Name': 'aziq', 'Roll': '34', 'Course': 'AI', 'Batch': 'AI'}

    Saylni Student Card

Student Name : aziq
Roll No  :     34
Course   :     AI
Batch    :     AI

{'Name': 'ziq', 'Roll': '4', 'Course': 'AI', 'Batch': 'AI'}

    Saylni Student Card

Student Name : ziq
Roll No  :     4
Course   :     AI
Batch    :     AI

## 3) Optional Argument Function

In [8]:
def my_optional_function(a=0,b=0):
    calculation = a + b
    return calculation

print(my_optional_function(5,9))
print(my_optional_function())

14
0

## 4) Positional Arguments Functions

In [9]:
def add_numbers (num1=0,num2=0):
    numbers = num1+ num2
    return numbers
print(add_numbers(9))
print(add_numbers(9,3))
print(add_numbers(2,29))
print(add_numbers())

9
12
31
0

## 5) Key/Words Arguments Functions

In [10]:
def add_two_numbers (num1=5,num2=7):
    number = num1 + num2 
    return number
print(add_two_numbers(num2=4))
print(add_two_numbers(num1=4))
print(add_two_numbers(num2=4,num1=9))
print(add_two_numbers())

9
11
13
12

## 6) Unlimited Positional Arguments Functions

In [11]:
def unlimited_positional_function(num1,*value):
    num = (num1,value)
    
    return num
print(unlimited_positional_function(4,5))
print(type(unlimited_positional_function(4,5)))

(4, (5,))
<class 'tuple'>

## Sum function for adding Unlimited Arguments

In [12]:
def sum_unlimited(num1,*value):
    print(type(num1),type(value))
    print(num1,value)
    result = num1
    for i in value:
        result +=i
    print(result)
sum_unlimited(3,45,5)

<class 'int'> <class 'tuple'>
3 (45, 5)
53

## Multiplying For Unlimited Arguments

In [13]:
def mul_unlimited (num1,*value):
    print(type(num1),type(value))
    print(num1,value)
    result = num1
    for i in value:
        result *=i
    print(result)
    
mul_unlimited(3,6,3)

<class 'int'> <class 'tuple'>
3 (6, 3)
54

## 7) Unlimited Key/Word Arguments Functions

In [14]:
def unlimited_key(**value):
    print(type(value))
    print(value)

unlimited_key(name='raziq', class_end="4th year")

<class 'dict'>
{'name': 'raziq', 'class_end': '4th year'}

In [15]:
def unlimited_key2(**values):
    print(type(values))
    sum = values
    return sum 
unlimited_key2(class_end=6,rah=8)

<class 'dict'>

{'class_end': 6, 'rah': 8}

## Create function with Req Argument , Optional , Unlimited positional and key/word Argument

In [16]:
def student_data_functions(name,roll,batch=0,*grades,**skills):
    card = f'''
Student Profile Card 
    Student Name : {name}
    Student's Roll : {roll}
    Students batch :{batch}
    Student's grades : {grades}
    skills           : {skills}
    
    '''
    return card
print(student_data_functions("AbdulRaziq",234,2019,5.8,1.3,'criket',football='bad'))

Student Profile Card
    Student Name : AbdulRaziq
    Student's Roll : 234
    Students batch :2019
    Student's grades : (5.8, 1.3, 'criket')
    skills           : {'football': 'bad'}

In [25]:
def std_card(roll_no, name, *skills):
    print("Student Roll no:", roll_no)
    print("Student Name:", name)
    print("Skills:")
    for s in skills:
        print("\t",s)

print(std_card(1,"Muhammad Qasim", "python",'java','typescript','solidity'))

Student Roll no: 1
Student Name: Muhammad Qasim
Skills:
	 python
	 java
	 typescript
	 solidity
None

In [26]:
a=std_card(1,"raziq",'gand')
print(a)

Student Roll no: 1
Student Name: raziq
Skills:
	 gand
None

In [29]:
def std_card_3(roll_no, name, *skills):
    skills_list = "\n".join([f"\t- {skill}" for skill in skills])
    card = f'''Student Roll no: {roll_no}
Student Name: {name}
Skills:
{skills_list}'''
    return card
print(std_card_3(1,"Muhammad Qasim", "python",'java','typescript','solidity'))

Student Roll no: 1
Student Name: Muhammad Qasim
Skills:
	- python
	- java
	- typescript
	- solidity

## 8) Lambda Function

In [32]:
lambda num1,num2:num1+num2
a=lambda num1,num2:num1+num2
a(7,9)

16

In [33]:
l = [[1,'a','Z'],
    [2,'b','Y'],
    [3,'c',"X"]]
l

[[1, 'a', 'Z'], [2, 'b', 'Y'], [3, 'c', 'X']]

In [37]:
b=sorted(l,key=lambda l:l[2])
print(b)

[[3, 'c', 'X'], [2, 'b', 'Y'], [1, 'a', 'Z']]

## 9) Generator Function

In [41]:
def generator_function(start,end):
    for i in range(start,end+1):
        yield i

a=generator_function(1,4)
print(a)
print(next(a))
print(next(a))

<generator object generator_function at 0x0000022BD23FB7B0>
1
2