## Linear Programming

In [1]:
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")
print("Pakistan Zindabad")

Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad

## Structural Programming

In [2]:
for num in range(1,11):
    print("Pakistan Zindabad")
    print("\tSaylani AI")

Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI
Pakistan Zindabad
	Saylani AI

## Controls

* if
     *else
     *elif
* for/while
     *break
     *continue
     *pass
     *else
*def
*try
     *except
     *else
     *finally
We can't give reserved words as variable

## if

In [3]:
a = int(input("Enter Integer "))
if (a>10):
    print('ok')
else:
    print("not ok")

Enter Integer 2
not ok

In [4]:
a = int(input("Enter any number: "))
print(num,type(a))
if(a%2==0):
    print(f"{a} is Even")
else:
    print(f"{a} id Odd")

Enter any number: 2
10 <class 'int'>
2 is Even

In [5]:
percentage=int(input("Enter Your Percentage:  "))
if (percentage >= 80 ):
    print(f'Student scored A Grades')
elif (percentage >=70):
    print(f'Student scored B Grades')
elif (percentage >=60):
    print(f'Student scored C Grades')
elif (percentage >=50):
    print(f'Student scored D Grades')
else:
    print("Student has failed")

Enter Your Percentage:  2
Student has failed

In [6]:
per = int (input("Enter Your Percentage : "))
if per >= 0:            ## Logical Errror
    print("Fail")
elif per>=33:
    print("E")
elif per>=40:
    print("D")
elif per>=50:
    print("C")

Enter Your Percentage : 2
Fail

In [8]:
per = int (input("Enter Your Percentage : "))
if per >= 0 and per<33:            
    print("Fail")
elif per>=33 and per <40:
    print("E")
elif per>=40 and per <50:
    print("D")
elif per>=50 and per <60:
    print("C")
else:
    print ("A")

Enter Your Percentage : 45
D

In [11]:
username = input("Enter your username:  ")
password = input("Enter your password:   ")
if username.lower() == "admin" and password == "admin" :
    print("Valid Username and password")
else:
    print("Incorrect Password")

Enter your username:  ADmin
Enter your password:   admin
Valid Username and password

## Comprehensive Way of Writting if elif and else

True_block_body if True/False else False_block_body

In [12]:
username = input("Enter your username:  ")
password = input("Enter your password:   ")
print("Valid Username and password") if username.lower() == "admin" and password == "admin" else print("Incorrect Password")

Enter your username:  admin
Enter your password:   admin
Valid Username and password

## LOOP

In [14]:
for i in ["a","b","c",1,3,5]:
    print(i)

a
b
c
1
3
5

In [15]:
# enumerate Function
list(enumerate(["a","b","c",1,3,5]))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 1), (4, 3), (5, 5)]

In [16]:
for index,value in enumerate (["a","b","c",1,3,5]):
    print(index,value)

0 a
1 b
2 c
3 1
4 3
5 5

In [17]:
list("Pakistan")

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

ASCII 
 * 0-9 = 48 - 57
 * A-Z = 65 - 90
 * a-z = 97 - 122

## Dealing With Ascii

In [20]:
print(ord("A"))
print(ord("a"))
print(ord("0"))
print(ord("B"))

65
97
48
66

In [22]:
print(chr(65))
print(chr(97))
print(chr(48))
print(chr(66))

A
a
0
B

In [32]:
for i in range (65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [34]:
[chr(i) for i in range(65,91)] +\
[chr(i) for i in range(48,57)] +\
[chr(i) for i in range(97,123)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [35]:
[(i) for i in range(65,91) if i % 2 ==0 ]

[66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90]

In [36]:
[chr(i) for i in range(65,91) if i % 2 ==0 ]

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [37]:
[(i) for i in range(65,91) if i % 2 !=0 ]

[65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89]

In [38]:
[chr(i) for i in range(65,91) if i % 2 !=0 ]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

## Loop Controls

In [40]:
# Break stops the loop
for i in range (1,11):
    print(i)
    break

1

In [41]:
for i in range (1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [42]:
for i in range (1,11):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

In [53]:
data = [
        {"id":1,"name":"Qasim"},
        {"id":2,"name":"Hussain"},
        {"id":3,"name":"Asim"},
       ]
for record in data :
    card =""" Saylani Mass IT Traingin
    Roll : {id}
    name : {name}""".format_map(record)
    print(card)
    break

 Saylani Mass IT Traingin
    Roll : 1
    name : Qasim

In [52]:
data = [
        {"id":1,"name":"Qasim Muhammad","u":"Qasim","p":"123"},
        {"id":2,"name":"Hussain Khan","u":"Hussain","p":"123xyz"},
        {"id":3,"name":"Asim Khan","u":"Asim","p":"123abc"},
       ]
user = input("Enter your username ")
pas= input("Enter your password")

for record in data : 
    if record ['u'] == user and record ['p']==pas:
        print(record)
        break
else :
    print("Invalid")

Enter your username fff
Enter your password333
Invalid

In [55]:
# Continue skips the value
for i in range(1,11):
    if(i==5 or i==6):
        continue
    print(i)

1
2
3
4
7
8
9
10

In [56]:
#pass (baad me jb bh decide krna hoga tw pass likhenge)
for i in range (1,1000):
    pass

In [58]:
if True:
    pass
else:
    pass

## While Loop
 * Counter
 * Logic
 * Loop body
 * Increment / Decrement
 *  agar logic sahi hai hogi tw while loop chalega

In [59]:
counter = 0 
while counter <= 10 :
    print(counter,"line")
    counter +=1

0 line
1 line
2 line
3 line
4 line
5 line
6 line
7 line
8 line
9 line
10 line

In [61]:
counter = 100 
while counter >= 90 :
    print(counter,"line")
    counter -=1

100 line
99 line
98 line
97 line
96 line
95 line
94 line
93 line
92 line
91 line
90 line

In [62]:
counter = 2023 
while counter >= 1992 :
    print(counter,"line")
    counter -=1

2023 line
2022 line
2021 line
2020 line
2019 line
2018 line
2017 line
2016 line
2015 line
2014 line
2013 line
2012 line
2011 line
2010 line
2009 line
2008 line
2007 line
2006 line
2005 line
2004 line
2003 line
2002 line
2001 line
2000 line
1999 line
1998 line
1997 line
1996 line
1995 line
1994 line
1993 line
1992 line

## Assignment
from sir's github