### 
* List Comprehensive
* Tuple
* Sets 
* Dictionary

In [3]:
range(11) # generator Function

range(0, 11)

In [7]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range (1,11):
    print("Iteration no",i)

Iteration no 1
Iteration no 2
Iteration no 3
Iteration no 4
Iteration no 5
Iteration no 6
Iteration no 7
Iteration no 8
Iteration no 9
Iteration no 10

In [16]:
table= int(input("Enter number for table generation "))
for i in range(1,11):
    print(i*table)

Enter number for table generation 143
143
286
429
572
715
858
1001
1144
1287
1430

In [12]:
for i in range(1,11):
    print(f'Table of 3 is {i*3}')

Table of 3 is 3
Table of 3 is 6
Table of 3 is 9
Table of 3 is 12
Table of 3 is 15
Table of 3 is 18
Table of 3 is 21
Table of 3 is 24
Table of 3 is 27
Table of 3 is 30

## List Comprehension

In [19]:
[print("iteration no",i) for i in range(1,11)]

iteration no 1
iteration no 2
iteration no 3
iteration no 4
iteration no 5
iteration no 6
iteration no 7
iteration no 8
iteration no 9
iteration no 10

[None, None, None, None, None, None, None, None, None, None]

In [20]:
[f'iteration no {i}' for i in range(1,11)]

['iteration no 1',
 'iteration no 2',
 'iteration no 3',
 'iteration no 4',
 'iteration no 5',
 'iteration no 6',
 'iteration no 7',
 'iteration no 8',
 'iteration no 9',
 'iteration no 10']

In [21]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
[i+5//2 for i in range(1,11)]  # // is floor division

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [35]:
# In normal style
for i in range(1,11):
    for j in range(1,i+1):
        print((i,j),end=' ')
    print()

(1, 1)
(2, 1) (2, 2)
(3, 1) (3, 2) (3, 3)
(4, 1) (4, 2) (4, 3) (4, 4)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)
(10, 1) (10, 2) (10, 3) (10, 4) (10, 5) (10, 6) (10, 7) (10, 8) (10, 9) (10, 10)

In [34]:
# In normal style
for i in range(1,11):
    for j in range(1,i+1):
        print((i*j),end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [30]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]
for row in range(len(data)):
    print(data[row],row)

[1, 2, 3] 0
[4, 5, 6] 1
[7, 8, 9] 2

In [33]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]
for row in range(len(data)):
    for col in range(len(data[row])):
         print(data[row][col],end=' ') # ye print child me chal rha hai
    print() # ye waala print parent me chal rha hai

1 2 3
4 5 6
7 8 9

In [26]:
[(i*j) for i in range(1,11) for j in range(1,i+1)]

[1,
 2,
 4,
 3,
 6,
 9,
 4,
 8,
 12,
 16,
 5,
 10,
 15,
 20,
 25,
 6,
 12,
 18,
 24,
 30,
 36,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [37]:
data = [[1,2,3],
       [4,5,6],
       [7,8,9]]
[data[row][col] for row in range(len(data)) for col in range(len(data[row]))]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Task : Print 10 tables by using Nested Loops and List Comprehension

## Tuple

#### Tuple is not mutable means it cant be changed but list in mutable means it can be changed

In [40]:
data = ('a','b','c',1,2,3)
print(type(data))
print(data)

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)

In [45]:
data = 'a','b','c',1,2,3 # Tuple can also be write without round brackets
print(type(data))
print(data)
print(data[0:3:1])
print(data[0:6:2])

<class 'tuple'>
('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c')
('a', 'c', 2)

## Tuple is not fully immutable

In [66]:
a= ("a","b","c",[2,3])
a[3].append(8)
a[3][0]=100
print(a)

('a', 'b', 'c', [100, 3, 8])

In [48]:
dir(data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [51]:
(1,3,4)+("a","b","c")

(1, 3, 4, 'a', 'b', 'c')

In [52]:
(1,3,4,5,6)*2

(1, 3, 4, 5, 6, 1, 3, 4, 5, 6)

## Dictionary
* start`{`and`}
* item 
    * `key`:`value`
           * key = hashable type ie int and string and tuple 
           * value = any data type
           * separator = : 
           * separator bw item = ,

In [58]:
data={
    "name":"Muhammad",
    "father name": "Qasim",
    "NIC NO":"4210191632597",
    "Roll":11,
    "Signature":"abn"
}
print(data)
data
data["name"]
data["Roll"]

{'name': 'Muhammad', 'father name': 'Qasim', 'NIC NO': '4210191632597', 'Roll': 11, 'Signature': 'abn'}

11

In [59]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [63]:
data={
    "name":"Muhammad",
    "father name": "Qasim",
    "NIC NO":"4210191632597",
    "Roll":11,
    "Signature":"abn",
    "skills":["python","R","Java","Matlab"]
}
print(data)
data

{'name': 'Muhammad', 'father name': 'Qasim', 'NIC NO': '4210191632597', 'Roll': 11, 'Signature': 'abn', 'skills': ['python', 'R', 'Java', 'Matlab']}

{'name': 'Muhammad',
 'father name': 'Qasim',
 'NIC NO': '4210191632597',
 'Roll': 11,
 'Signature': 'abn',
 'skills': ['python', 'R', 'Java', 'Matlab']}

## New Method For Creating Dictionary

In [69]:
data={}
data["name"]="Muhammad qasim "
data["name"]="Raziq"
print(data,type(data))

{'name': 'Raziq'} <class 'dict'>

In [71]:
data={}
data["name"]="Muhammad qasim "
data["father name"]="Ilyas"
data

{'name': 'Muhammad qasim ', 'father name': 'Ilyas'}

In [74]:
data={}
data["name"]="Muhammad qasim "
data["name"]="Raziq"
print(data,type(data))


print(data.get("name","not Available"))
print(data.get("roll_no"))
print(data.get("roll_no","not Available"))

{'name': 'Raziq'} <class 'dict'>
Raziq
None
not Available

In [75]:
data.fromkeys(["name","id","father"])

{'name': None, 'id': None, 'father': None}

In [76]:
data

{'name': 'Raziq'}

In [80]:
data={
    "name":"Muhammad",
    "father name": "Qasim",
    "NIC NO":"4210191632597",
    "Roll":11,
    "Signature":"abn",
    "skills":["python","R","Java","Matlab"]
}

print(data.keys())
print(data.values())
print(data.items())

dict_keys(['name', 'father name', 'NIC NO', 'Roll', 'Signature', 'skills'])
dict_values(['Muhammad', 'Qasim', '4210191632597', 11, 'abn', ['python', 'R', 'Java', 'Matlab']])
dict_items([('name', 'Muhammad'), ('father name', 'Qasim'), ('NIC NO', '4210191632597'), ('Roll', 11), ('Signature', 'abn'), ('skills', ['python', 'R', 'Java', 'Matlab'])])

In [82]:
a,b = ("aa","bb") # unpack/unzip 

print(a)
print(b)

aa
bb

In [86]:
for k in data.keys():
    print(k,"---->",data[k])

name ----> Muhammad
father name ----> Qasim
NIC NO ----> 4210191632597
Roll ----> 11
Signature ----> abn
skills ----> ['python', 'R', 'Java', 'Matlab']

In [88]:
for k,v in data.items():
    print(k,"--->",v)

name ---> Muhammad
father name ---> Qasim
NIC NO ---> 4210191632597
Roll ---> 11
Signature ---> abn
skills ---> ['python', 'R', 'Java', 'Matlab']

In [90]:
data = {
    "a":3,
    "b":2,
    "c":1
}
for d in data:
    print(d)

a
b
c

In [ ]:
# Task : Sort it like that c comes first then b and then a