## List Data Type

### Lists,Tuple, Dictionary,stat are used for creating single variable for multiple data points . Lists has an advantage over Array is that it has dynamic length and type of variable
#### 1) It starts and closed with Square Bracket
#### 2) it can store any data Type
#### 3) Separator bw two items is ' , '
#### 4) Positive indexing (Left to Right )
#### 5) Negative Indexing(Right to Left)
#### 6)  positive Indexing starts from 0 
#### 7) Negative indexing Starts from -1

In [1]:
names = ["Asim","Hamza","Raziq",3,5,555,True,0.4]
print(names)

['Asim', 'Hamza', 'Raziq', 3, 5, 555, True, 0.4]

In [2]:
print(names[1])
print(names[-7])
print(names[3],names[-5])

Hamza
Hamza
3 3

In [3]:
names = ["Asim","Hamza","Raziq",3,5,3000,True,0.4]
print(names[-3],names[5])
print(names[3],names[-5])

3000 3000
3 3

In [4]:
# For printing all the values 
names = ["Asim","Hamza","Raziq",3,5,3000,True,0.4]

for name in names:
    print(name)

Asim
Hamza
Raziq
3
5
3000
True
0.4

## Slicing

### 'variable[start:end:step]' all parameters are numbers
### **Start** include
### **end** exclude (end-1)
### **step** sequence( -->> By default it is 1)

In [5]:
names = ["Asim","Hamza","Raziq",3,5,3000,True,0.4]
print(names[1:6])
print(names[1:7:2])
print(names[::1])
print(names[::2])
print(names[::3])
print(names[::4])
print(names[::-1])
print(names[::-2])
print(names[::-3])
print(names[::-4])

['Hamza', 'Raziq', 3, 5, 3000]
['Hamza', 3, 3000]
['Asim', 'Hamza', 'Raziq', 3, 5, 3000, True, 0.4]
['Asim', 'Raziq', 5, True]
['Asim', 3, True]
['Asim', 5]
[0.4, True, 3000, 5, 3, 'Raziq', 'Hamza', 'Asim']
[0.4, 3000, 3, 'Hamza']
[0.4, 5, 'Hamza']
[0.4, 3]

In [6]:
names = ["Asim","Hamza","Raziq",3,5,3000,True,0.4]
print(names[4:-7])
print(names[4:-1])
print(names[4:-5:-1])
print(names[-8:7])
print(names[-2:-7:-1])
print(names[-1:0:-1])
print(names[-1::1])
print(names[-3:])
print(names[:3])

[]
[5, 3000, True]
[5]
['Asim', 'Hamza', 'Raziq', 3, 5, 3000, True]
[True, 3000, 5, 3, 'Raziq']
[0.4, True, 3000, 5, 3, 'Raziq', 'Hamza']
[0.4]
[3000, True, 0.4]
['Asim', 'Hamza', 'Raziq']

## apply operators on list data type

In [7]:
l1=["pakistan",1000,2000]
l2=['abc','xyz']
l3=["India",3000,4000]
a3=300
print(l1+l3)
print(l1*3)

['pakistan', 1000, 2000, 'India', 3000, 4000]
['pakistan', 1000, 2000, 'pakistan', 1000, 2000, 'pakistan', 1000, 2000]

## List Data Type Methods

In [8]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
names=["Razq"]
names.append("Asif")
names.append([1,3,4])  
print(names)

['Razq', 'Asif', [1, 3, 4]]

In [10]:
# delete removes variables name from memory while clear removes data but not variable Means del is used for permanent deleting while clear only used for deleitng item

In [11]:
l2[1] = 7000
print(l2)

['abc', 7000]

In [12]:
l2.count(7000)

1

In [13]:
names=["Razq"]
names.append("Asif")
names.append([1,3,4])  
print(names)
names.extend([1,3,4])
print(names)

['Razq', 'Asif', [1, 3, 4]]
['Razq', 'Asif', [1, 3, 4], 1, 3, 4]

In [14]:
l1=[1,2,3,3,3]
l2=['a','b','c']
l1.extend(l2)
print(l1)

[1, 2, 3, 3, 3, 'a', 'b', 'c']

In [15]:
print(l1.index(3))
print(l1.index(3,4))

2
4

In [16]:
l1.insert(0,"pakistan")
print(l1)

['pakistan', 1, 2, 3, 3, 3, 'a', 'b', 'c']

In [17]:
l2=[]
l2.append(l1.pop())
print(l1)
l2.append(l1.pop(1))
print(l1)
print(l2)

['pakistan', 1, 2, 3, 3, 3, 'a', 'b']
['pakistan', 2, 3, 3, 3, 'a', 'b']
['c', 1]

In [18]:
l4=[1,2,3,5,2]
l4.sort()
print(l4)

[1, 2, 2, 3, 5]

In [19]:
l4.reverse()
print(l4)

[5, 3, 2, 2, 1]

In [21]:
# Remove Function 
l1=['a','b','c','a','x']
remove_item=input("Enter item: ")
indx = l1.index(remove_item)
print(remove_item,type(remove_item))
print(indx,type(indx))
l1.pop(indx)
print(l1)

Enter item: b
b <class 'str'>
1 <class 'int'>
['a', 'c', 'a', 'x']

In [22]:
l1=['a','b','c','a','x']
l1.remove('x')
print(l1)

['a', 'b', 'c', 'a']

In [26]:
l1=['a','b','c','a','x']
remove_item=input("Enter item: ")
l1.remove(remove_item)
print(l1)

Enter item: a
['b', 'c', 'a', 'x']

## LOOPS

In [27]:
l1=['a','b','c','a','x']
for i in l1:
    print(i)

a
b
c
a
x