In [7]:
for i in range(11):
    print("Pakistan")
    print("\t Saulaini")

Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini
Pakistan
	 Saulaini

In [13]:
list=enumerate(["a","b","d",[1,23,5]])
for i in list:
    print(i)

(0, 'a')
(1, 'b')
(2, 'd')
(3, [1, 23, 5])

In [15]:
for index,value in enumerate(["a","b","d",[1,23,5]]):
    print(index,value)

0 a
1 b
2 d
3 [1, 23, 5]

## Assignment 1

In [34]:
# create list of dictionary with (name,id,user,password,email,phone)
#create program where user can login with user/email/phone but password must be same

data=[
    {"name":"Raziq","id":"234","user":"araziq","pass":"123","email":"araz@gmail.com","phone":"03313741903"},
    {"name":"Abdul","id":"235","user":"araziqe","pass":"1234","email":"arazi@gmail.com","phone":"03313741902"},
    {"name":"Qasim","id":"236","user":"araziqed","pass":"12345","email":"araziq@gmail.com","phone":"03313741901"}
]
username=input("Enter your username:   ")
email=input("Enter your email:   ")
phone=input("Enter your phone:   ")
password=input("Enter your password:   ")

for i in data:
    if ((username==i["user"] or email==i["email"] or phone==i["phone"]) and password==i["pass"]):
        print(f'Congratulations you have successfully Loged into your data: {i}')
        break
else:
    print("enter Correct dAta")

Enter your username:   araziq
Enter your email:   araz@gmail.com
Enter your phone:   03313741903
Enter your password:   aaa
enter Correct dAta

## Continue Statement

In [40]:
for i in range(11):
    if(i==4 or i==5):
        continue
    print(i)

0
1
2
3
6
7
8
9
10

## While Loop

* Counter
* Logic
**Loop body
**Increment / Decrement
**agar logic sahi hai hogi tw while loop chalega

In [46]:
counter =0
while (counter<=11):
    print(counter)
    counter+=1

0
1
2
3
4
5
6
7
8
9
10
11

### Exercise 1: Print First 10 natural numbers using while loop

In [49]:
counter=1
while(counter<=10):
    print(counter)
    counter+=1

1
2
3
4
5
6
7
8
9
10

## Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [52]:
number = int(input("Enter your desired no: "))
x = sum(range(1,number+1))
print(x)

Enter your desired no: 3
6

## Exercise 4: Write a program to print multiplication table of a given number

In [58]:
table_amount=int(input("Enter the no of times you want to print the table:  "))
table_number=int(input("Enter the table you want to print:  "))
for i in range(1,table_amount+1):
    print(f'{table_number}X{i}={i*table_number}')

Enter the no of times you want to print the table:  10
Enter the table you want to print:  2
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

## Exercise 5: Display numbers from a list using loop
Write a program to display only those numbers from a list that satisfy the following conditions

* The number must be divisible by five
* If the number is greater than 150, then skip it and move to the next number
* If the number is greater than 500, then stop the loop

In [71]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if(i%5==0):
        if(i>500):
            break
        if(i>150):
            continue
        print(i)

75
150
145

## Exercise 6: Count the total number of digits in a number

In [72]:
a=23344

## Exercise 8: Print list in reverse order using a loop

In [74]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

## Exercise 9: Display numbers from -10 to -1 using for loop

In [77]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

## Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [78]:
#Expected Output:
# 0
# 1
# 2
# 3
# 4
# Done!

In [79]:
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

## Exercise 11: Write a program to display all prime numbers within a range

In [80]:
range_1 = range(50,100)

In [86]:
weather={
  "weather": [
    {
      "timestamp": "2020-04-21T00:00:00+00:00",
      "source_id": 6007,
      "cloud_cover": 0,
      "dew_point": -2.5,
      "precipitation": 0,
      "pressure_msl": 1015.1,
      "relative_humidity": 40,
      "sunshine": 0,
      "temperature": 10.6,
      "visibility": 50000,
      "wind_direction": 70,
      "wind_speed": 12.6,
      "wind_gust_direction": 50,
      "wind_gust_speed": 33.5,
      "condition": "dry",
      "icon": "clear-night"
    },
   
  ],
  "sources": [
    {
      "id": 6007,
      "dwd_station_id": "01766",
      "wmo_station_id": "10315",
      "station_name": "Münster/Osnabrück",
      "observation_type": "historical",
      "first_record": "2020-01-01T00:00:00+00:00",
      "last_record": "2020-08-13T23:00:00+00:00",
      "lat": 52.1344,
      "lon": 7.6969,
      "height": 47.8,
      "distance": 16365
    }
  ]
}

## Q1) What is the station id?

In [90]:
weather["sources"][0]["dwd_station_id"]

'01766'

## Q2) What is the lat and lon of the location?

In [94]:
print(weather["sources"][0]["lat"])
print(weather["sources"][0]["lon"])

52.1344
7.6969

# Q3) Determine the temperature and windspeed.

In [99]:
print(weather["weather"][0]["temperature"])
print(weather["weather"][0]["wind_speed"])

10.6
12.6

## Q4) Create 2 lists and append one of them to another.

In [102]:
list1=[1,3,56,7,7]
list2=[5,9,34,7]
list1.append(list2)
print(list1)
print(list1+list2)

[1, 3, 56, 7, 7, [5, 9, 34, 7]]
[1, 3, 56, 7, 7, [5, 9, 34, 7], 5, 9, 34, 7]